* {
  margin: 0;
  padding: 0;
  /* background-color: #ffffff; */
  /* overflow: hidden; */
  /* overflow-x: scroll; */
}
::-webkit-scrollbar {
  width: 1px;
}

Link,
a {
  text-decoration: none;
  color: #fff;
}
