.home__container {
  display: flex;
  overflow: hidden;
  /* background-color: black; */
}
.home__left {
  background-color: #18181b;
  flex: 1;
}
.home__middle {
  background-color: #18181b;
  flex: 2.5;
}
.home__right {
  background-color: #18181b;
  flex: 1.8;
}
