.post__container {
  /* height: 100vh; */
  /* overflow-y: hidden; */
}
.post__card {
  border: 1px solid #333;
  background-color: #27272a;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  /* border-radius: 5px; */
  margin: 0px 10px 20px 20px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
}
.dml {
  font-family: "poppins", sans-serif;
  font-size: 13px;
  text-transform: capitalize;
  font-weight: 300;
  display: flex;
  align-items: center;
}
.post__author__reg {
  align-items: center;
  gap: 5px;
  padding: 5px;
  display: flex;
  /* align-items: center; */
  cursor: pointer;
  margin-bottom: 5px;
}
.post__author__img {
  width: 30px;
  padding: 3px;
  /* background-color: teal; */
  height: 30px;
  border: 2px solid #ddd;
  border-radius: 50%;
}
.post__author {
  font-family: "poppins", sans-serif;
  color: #ddd;
  font-size: 14px;
  text-transform: capitalize;
  font-weight: 300;
}
.gvcx {
  border-radius: 50%;
  background-color: #27272a;
  width: 20px;
  height: 20px;
}
.bck{
  background-color:#27272a; /* Set your desired background color */
  display: inline-block;
  /* padding: 10px; */
  border-radius: 50%;
}
.post__img {
  object-fit: cover;
  /* border-radius: 5px; */
  height: 70vh;
  padding: 5px auto;
  width: 100%;
}
.user__react__opt {
  color: #ddd;
  display: flex;
  gap: 5px;
  padding: 5px 5px 5px 4px;
}
.ico {
  font-size: 20px;
  cursor: pointer;
}
.like__count {
  padding: 5px 4px;
  color: #ddd;
  font-family: "poppins", sans-serif;
  font-size: 12px;
  font-weight: 300;
}
.comment__section {
  color: #ddd;
  font-family: "poppins", sans-serif;
}
.author__comment {
  padding: 5px 4px;
  display: flex;
  align-items: center;
}
.author__name {
  font-weight: 300;
  font-size: 12px;
}
.main__comment__box {
  /* padding: 5px auto; */
  /* margin: 0; */
}
.comment__box {
  width: -webkit-fill-available;
  padding: 5px 0;
  color: #ddd;
  outline: none;
  border: 1px solid #333;
  background-color: #27272a;
}
.comment__box::placeholder {
  color: #ddd;
  padding: 0 3px;
  font-size: 11px;
}
